<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form action="http://localhost:5000/suss" method="post">
        <p>Name <input type="text" name="Name" /></p>
        <p>email <input type="email" name="email" /></p>
        <p>contact <input type="text" name="contact" /></p>
        <p>pin <input type="text" name="pin" /></p>
        <p>submit <input type="submit" name="submit" /></p>
    </form>
</body>

</html>